[stages.era]

[stages.headers]
downloader_max_concurrent_requests = {{ reth_headers_downloader_max_concurrent_requests }}
downloader_min_concurrent_requests = {{ reth_headers_downloader_min_concurrent_requests }}
downloader_max_buffered_responses = {{ reth_headers_downloader_max_buffered_responses }}
downloader_request_limit = {{ reth_headers_downloader_request_limit }}
commit_threshold = {{ reth_headers_commit_threshold }}

[stages.bodies]
downloader_request_limit = {{ reth_bodies_downloader_request_limit }}
downloader_stream_batch_size = {{ reth_bodies_downloader_stream_batch_size }}
downloader_max_buffered_blocks_size_bytes = {{ reth_bodies_downloader_max_buffered_blocks_size_bytes }}
downloader_min_concurrent_requests = {{ reth_bodies_downloader_min_concurrent_requests }}
downloader_max_concurrent_requests = {{ reth_bodies_downloader_max_concurrent_requests }}

[stages.sender_recovery]
commit_threshold = {{ reth_sender_recovery_commit_threshold }}

[stages.execution]
max_blocks = {{ reth_execution_max_blocks }}
max_changes = {{ reth_execution_max_changes }}
max_cumulative_gas = {{ reth_execution_max_cumulative_gas }}
max_duration = "{{ reth_execution_max_duration }}"

[stages.prune]
commit_threshold = {{ reth_prune_commit_threshold }}

[stages.account_hashing]
clean_threshold = {{ reth_account_hashing_clean_threshold }}
commit_threshold = {{ reth_account_hashing_commit_threshold }}

[stages.storage_hashing]
clean_threshold = {{ reth_storage_hashing_clean_threshold }}
commit_threshold = {{ reth_storage_hashing_commit_threshold }}

[stages.merkle]
incremental_threshold = {{ reth_merkle_incremental_threshold }}
rebuild_threshold = {{ reth_merkle_rebuild_threshold }}

[stages.transaction_lookup]
chunk_size = {{ reth_transaction_lookup_chunk_size }}

[stages.index_account_history]
commit_threshold = {{ reth_index_account_history_commit_threshold }}

[stages.index_storage_history]
commit_threshold = {{ reth_index_storage_history_commit_threshold }}

[stages.etl]
file_size = {{ reth_etl_file_size }}

[prune]
block_interval = {{ reth_prune_block_interval }}

[prune.segments.receipts]
before = {{ reth_prune_segments_receipts_before }}

[prune.segments.bodies_history]
before = {{ reth_prune_segments_bodies_history_before }}

[prune.segments.merkle_changesets]
distance = {{ reth_prune_segments_merkle_changesets_distance }}

[peers]
refill_slots_interval = "{{ reth_peers_refill_slots_interval }}"
trusted_nodes = {{ reth_peers_trusted_nodes }}
trusted_nodes_only = {{ reth_peers_trusted_nodes_only }}
trusted_nodes_resolution_interval = "{{ reth_peers_trusted_nodes_resolution_interval }}"
max_backoff_count = {{ reth_peers_max_backoff_count }}
ban_duration = "{{ reth_peers_ban_duration }}"
incoming_ip_throttle_duration = "{{ reth_peers_incoming_ip_throttle_duration }}"

[peers.connection_info]
max_outbound = {{ reth_peers_connection_info_max_outbound }}
max_inbound = {{ reth_peers_connection_info_max_inbound }}
max_concurrent_outbound_dials = {{ reth_peers_connection_info_max_concurrent_outbound_dials }}

[peers.reputation_weights]
bad_message = {{ reth_peers_reputation_weights_bad_message }}
bad_block = {{ reth_peers_reputation_weights_bad_block }}
bad_transactions = {{ reth_peers_reputation_weights_bad_transactions }}
already_seen_transactions = {{ reth_peers_reputation_weights_already_seen_transactions }}
timeout = {{ reth_peers_reputation_weights_timeout }}
bad_protocol = {{ reth_peers_reputation_weights_bad_protocol }}
failed_to_connect = {{ reth_peers_reputation_weights_failed_to_connect }}
dropped = {{ reth_peers_reputation_weights_dropped }}
bad_announcement = {{ reth_peers_reputation_weights_bad_announcement }}

[peers.backoff_durations]
low = "{{ reth_peers_backoff_durations_low }}"
medium = "{{ reth_peers_backoff_durations_medium }}"
high = "{{ reth_peers_backoff_durations_high }}"
max = "{{ reth_peers_backoff_durations_max }}"

[sessions]
session_command_buffer = {{ reth_sessions_session_command_buffer }}
session_event_buffer = {{ reth_sessions_session_event_buffer }}

[sessions.limits]

[sessions.initial_internal_request_timeout]
secs = {{ reth_sessions_initial_internal_request_timeout_secs }}
nanos = {{ reth_sessions_initial_internal_request_timeout_nanos }}

[sessions.protocol_breach_request_timeout]
secs = {{ reth_sessions_protocol_breach_request_timeout_secs }}
nanos = {{ reth_sessions_protocol_breach_request_timeout_nanos }}

[sessions.pending_session_timeout]
secs = {{ reth_sessions_pending_session_timeout_secs }}
nanos = {{ reth_sessions_pending_session_timeout_nanos }}

